 .button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: aqua;
    color: blue;
    outline: 1px solid black;
 }
 .operator {
     background-color: rgb(117, 81, 14);
     color: white;
 }